* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::placeholder {
  text-align: center;
}

body {
  background-color: rgb(0, 0, 68);
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}


#authorization {
  border-radius: 20px 20px 20px 20px;
  border: 1px solid rgb(0, 0, 0);
  width: 300px;
  height: 400px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}

#text {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

#textt {
  margin-top: 10px;
  display: flex;
  color: rgb(223, 62, 62);
  justify-content: center;
}


input {
  height: 30px;
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}

#username {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#password {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#button {
  margin-top: 20px;
  margin-left: 77px;
  height: 50px;
  width: 150px;
  background-color: blue;
  color: white;
  border-radius: 20px 20px 20px 20px;
  border: 1px;
  cursor: pointer;
}

#button:hover {
  transition: 0.1s;
  scale: 1.1;
  background-color: #000000;
}

#button:not(:hover) {
  transition: 0.3s;
  scale: 1;
  background-color: rgb(0, 0, 255);
}
